* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", "Barlow", sans-serif;
}
/* header and nav */
header {
  background-image: url(desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  padding: 2.5rem;
  position: relative;
  height: 100vh;
}
header div {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
header div h1 a img {
  width: 8rem;
}
header section {
  text-align: center;
}
header section h1 {
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5rem;
  font-weight: 900;
  margin: 4rem;
  font-family: "Fraunces", serif;
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  color: white;
  font-family: "Barlow", sans-serif;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
header nav ul li {
  list-style: none;
  margin: 0 1.2rem;
}
.mobile-menu {
  display: none;
}
.mobile-nav {
  display: none;
}
p {
  font-family: "Fraunces", sans-serif;
}

.button {
  padding: 0.7rem 1rem;
  color: hsl(212, 27%, 19%);
  background: hsl(0, 0%, 100%);
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s;
  font-family: "Fraunces", serif;
  font-size: 0.8rem;
}
.button:hover {
  background: hsla(0, 0%, 100%, 0.37);
  color: hsl(0, 0%, 100%);
}

/*features  */
.features {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

.features article {
  flex-basis: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features article .left-col {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features article .left-col .left-col-text {
  max-width: 70%;
}

.features article .left-col .left-col-text h2 {
  font-size: 2.9rem;
  margin-bottom: 1.5rem;
  line-height: 1;
  color: hsl(212, 27%, 19%);
  font-weight: 900;
  font-family: "Fraunces", serif;
}

.features article .left-col .left-col-text p {
  line-height: 1.4;
  margin-bottom: 2rem;
  color: hsl(212, 27%, 19%);
  font-family: "Barlow", sans-serif;
}

.features article .left-col .left-col-text a {
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  font-family: "Fraunces", serif;
}

.features article .left-col .left-col-text a::before {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 100%;
  height: 0.7rem;
  background: rgba(250, 212, 0, 0.404);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.35s;
}

.features article .left-col .left-col-text a:hover::before {
  background: rgb(250, 212, 0);
}

.features article .right-col {
  flex-basis: 50%;
  overflow: hidden;
  height: 100%;
}

.features article .right-col picture {
  width: 100%;
  height: 100%;
}

.features article .right-col picture img {
  width: 100%;
  height: 100%;
}

.features article:nth-child(2) .left-col .left-col-text a::before {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 100%;
  height: 0.7rem;
  background: rgba(254, 120, 103, 0.493);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.35s;
}

.features article:nth-child(2) .left-col .left-col-text a:hover::before {
  background: rgb(254, 120, 103);
}

.features article:nth-child(3) .left-col {
  background-image: url(desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: center;
  position: relative;
}

.features article:nth-child(3) .left-col .left-col-text {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 45%;
}

.features article:nth-child(3) .left-col .left-col-text h3 {
  font-size: 1.5rem;
  color: rgb(37, 86, 75);
  margin-bottom: 1rem;
  font-family: "Fraunces", serif;
}

.features article:nth-child(3) .left-col .left-col-text p {
  font-size: 0.8rem;
  color: rgb(37, 86, 75);
  font-family: "Barlow", sans-serif;
}

.features article:nth-child(3) .left-col:nth-child(2) {
  background-image: url(desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
}

.features article:nth-child(3) .left-col:nth-child(2) .left-col-text h3 {
  font-size: 1.5rem;
  color: hsl(198, 62%, 26%);
  margin-bottom: 1rem;
  font-family: "Fraunces", serif;
}

.features article:nth-child(3) .left-col:nth-child(2) .left-col-text p {
  font-size: 0.8rem;
  color: hsl(198, 62%, 26%);
  font-family: "Barlow", sans-serif;
}
/* Clients testimonials */
.div-clients {
  padding: 6rem;
  text-align: center;
  background: hsla(42, 92%, 90%, 0.192);
}
.div-clients h3 {
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(167, 171, 174);
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
  font-family: "Fraunces", serif;
}
.div-clients .div-clients-profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.div-clients .div-clients-profil .div-clients-profil-content {
  flex-basis: 31%;
}
.div-clients .div-clients-profil .div-clients-profil-content img {
  border-radius: 50%;
  width: 3.5rem;
  margin-bottom: 2.5rem;
}
.div-clients .div-clients-profil .div-clients-profil-content p {
  color: rgb(25, 83, 107);
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-family: "Barlow", sans-serif;
}
.div-clients .div-clients-profil .div-clients-profil-content .clients_name h5 {
  font-weight: 900;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-family: "Fraunces", serif;
}
.div-clients .div-clients-profil .div-clients-profil-content .clients_name h6 {
  font-size: 0.8rem;
  margin-bottom: 0;
  font-family: "Barlow", sans-serif;
}
/* Images Row */
.div-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  overflow: hidden;
}
.div-images picture {
  flex-basis: 33%;
  height: 100%;
}
.div-images picture img {
  width: 100%;
  height: 100%;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #90d4c5;
  padding: 3rem;
}

footer nav a {
  text-decoration: none;
  color: #30554c;
  font-weight: lighter;
}

footer nav ul {
  margin: 2rem 0 4rem;
}
footer nav ul li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}
footer nav ul li a {
  text-decoration: none;
  color: #30554c;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.35s;
  font-family: "Barlow", sans-serif;
}
footer nav ul li a:hover {
  color: #ffffff;
}
footer > div > a img {
  transition: 0.25s;
}
footer > div > a:hover img {
  filter: brightness(0) invert(1);
}
.div-svg {
  width: 15%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 50px;
}
/* Responsive */
@media (max-width: 990px) {
  /* Header */
  header {
    background-image: url(mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    padding: 1.5rem 1.1rem;
  }

  header section h1 {
    font-size: 2rem;
    margin: 4rem 0 4rem;
    font-family: "Fraunces", serif;
  }

  header nav ul {
    display: none;
  }
  header div {
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
  }
  /* .mobile-menu {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .mobile-nav {
    display: none;
    position: absolute;

    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  .mobile-nav ul {
    display: block;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 20px;
  }
  .mobile-nav .button {
    background-color: #ffdd00;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
  }
  .mobile-nav li {
    margin-bottom: 10px;
  }

  .mobile-nav a {
    display: block;
    text-align: center;
    color: #333;
    text-decoration: none;
    padding: 10px 0;
  }

  .mobile-menu:hover + .mobile-nav {
    display: block;
  } */
  .menu-checkbox {
    display: none;
  }

  .burger-menu {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
  }

  .mobile-nav {
    display: none;
    position: absolute;
    top: 20%; /* Ajustez cette valeur pour positionner le menu juste sous le bouton burger */
    left: 50%;
    transform: translateX(-50%); /* Centrer le menu horizontalement */
    width: 100%;
    background-color: #fff;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
  }
  .menu-checkbox:checked + .burger-menu + .mobile-nav {
    display: block;
  }

  .mobile-nav ul {
    list-style-type: none;
    padding-left: 40%;
    margin: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .mobile-nav .button {
    background-color: #ffdd00;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
  }
  .mobile-nav li {
    margin-bottom: 10px;
  }

  .mobile-nav a {
    display: block;
    color: #808080;
    text-decoration: none;
    padding: 10px 0;
  }

  /* Main_features */

  .features article {
    flex-basis: 100%;
    height: 110vh;
  }

  .features article .left-col {
    flex-basis: 100%;
    height: 60vh;
    order: 2;
    background: rgb(248, 244, 231);
  }

  .features article .left-col .left-col-text {
    max-width: 85%;
    text-align: center;
  }

  .features article .left-col .left-col-text h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .features article .left-col .left-col-text a {
    position: relative;
    font-size: 0.8rem;
    z-index: 2;
  }

  .features article .left-col .left-col-text a::before {
    z-index: -1;
  }

  .features article .right-col {
    flex-basis: 100%;
    overflow: hidden;
    height: 50vh;
    order: 1;
  }

  .features article .right-col picture img {
    width: 100%;
    height: 100%;
  }
  .features article:nth-child(3) {
    position: relative;
  }

  .features article:nth-child(3) .left-col {
    background-image: url(mobile/image-graphic-design.jpg);
    background-position: center;
    background-size: center;
    position: relative;
  }

  .features article:nth-child(3) .left-col .left-col-text h3 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }

  .features article:nth-child(3) .left-col:nth-child(2) {
    background-image: url(mobile/image-photography.jpg);
    background-position: center;
    background-size: cover;
  }

  .features article:nth-child(3) .left-col:nth-child(2) .left-col-text h3 {
    font-size: 1.2rem;
    color: rgb(25, 83, 107);
    margin-bottom: 0.6rem;
    font-family: "Fraunces", serif;
  }

  /* Main_Clients testimonials */
  .div-clients {
    padding: 5rem 1rem 2rem;
  }
  .div-clients h3 {
    font-size: 0.8rem;
  }

  .div-clients .div-clients-profil .div-clients-profil-content {
    flex-basis: 100%;
    margin-bottom: 2.5rem;
  }
  .div-clients .div-clients-profil .div-clients-profil-content img {
    width: 3rem;
    margin-bottom: 1.5rem;
  }
  .div-clients .div-clients-profil .div-clients-profil-content p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    font-size: 0.9rem;
  }
  .div-clients
    .div-clients-profil
    .div-clients-profil-content
    .clients_name
    h5 {
    margin-bottom: 0.4rem;
    font-size: 1rem;
  }
  .div-clients
    .div-clients-profil
    .div-clients-profil-content
    .clients_name
    h6 {
    font-size: 0.7rem;
  }
  /* Main_Images Row */
  .div-images {
    height: 80vh;
    flex-wrap: wrap;
    overflow: visible;
  }
  .div-images picture {
    flex-basis: 50%;
    height: 50%;
  }

  /* Footer */
  footer {
    padding: 3rem 1rem;
  }

  footer nav ul {
    margin: 2rem 0 4rem;
  }
  footer nav ul li {
    display: inline-block;
    margin: 20px;
    list-style: none;
  }
  footer nav ul li a {
    font-size: 0.9rem;
  }

  .div-svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-svg a {
    margin: 5px;
  }

  /* .mobile-nav {
    display: block;
    position: fixed;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    background: hsl(46, 55%, 94%);
    text-align: center;
    padding: 2rem;
    z-index: 10;
    width: 90%;
  }

  .mobile-nav::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1.2rem;
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid hsl(46, 55%, 94%);
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid hsl(46, 55%, 94%);
  }

  .mobile-nav nav ul li {
    display: block;
    list-style: none;
    margin-bottom: 2rem;
  }

  .mobile-nav nav ul li:nth-child(4) {
    margin-bottom: 0;
  }

  .mobile-nav nav ul li:nth-child(4) a {
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    background: hsl(51, 100%, 49%);
    border-radius: 3rem;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .mobile-nav nav ul li a {
    text-decoration: none;
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
  } */
}
@media (max-width: 320px) {
  header section h1 {
    font-size: 1.8rem;
  }

  .features article .left-col .left-col-text p {
    font-size: 0.8rem;
  }

  .features article:nth-child(3) .left-col .left-col-text {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 85%;
    max-width: 80%;
  }

  .div-clients h3 {
    font-size: 0.7rem;
  }

  .div-clients .div-clients-profil .div-clients-profil-content p {
    font-size: 0.8rem;
  }

  .div-clients .div-clients-profil .div-clients-profil-content h4 {
    font-size: 0.9rem;
  }

  footer nav ul li a {
    font-size: 0.8rem;
  }
}
@media (max-width: 280px) {
  .hero .header-text h1 {
    font-size: 1.5rem;
  }

  .features article:nth-child(3) .left-col .left-col-text {
    bottom: -1rem;
  }

  .div-clients h3 {
    font-size: 0.6rem;
  }

  footer {
    padding: 2rem 1rem;
  }

  footer nav ul li a {
    font-size: 0.6rem;
  }

  footer nav ul {
    margin: 1.5rem 0 3rem;
  }

  footer nav a img {
    width: 7.5rem;
  }
}
